*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

html {
     scroll-behavior: smooth;
 }

 /* Body */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E0E0CE;    
}

h1 {
    font-family: 'Ramaraja', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    color: #E0E0CE;
    letter-spacing: 0.1rem;
}

/* Background colors */
.honeyYellow {
    background-color: #F2AF29;
}

.eggshell {
    background-color: #E0E0CE;
}

 /* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8% 10%;
    min-height: 8vh;
    z-index: 9999;
    background-color: #474747;
}

header a{
    align-items: center;
}

.logo {
    width: 6%;
    height: auto;
    align-items: center;
}

/* Navbar */

.🧭 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Cover */

/* Parallax is the changing of images upon scrolling */
.parallax {
    background-image: url("images/cover2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("images/patterns/ross-elder-uXQVNkam3hE-unsplash.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 40%;
}

/* divider */
.divider {
    position: relative;
}

/* General styling options */
.container {
    display: block;
    padding: 5% 5%;
    position: relative;
}

.center {
    align-items: center;
    align-content: center;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.📦2️⃣ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
}

.📦4️⃣⬅️ {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.2fr 1fr;
    column-gap: 3%;
    align-items: center;
    text-align: center;
}

.📦4️⃣➡️ {
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.5fr 2fr;
    column-gap: 3%;
    align-items: center;
    text-align: center;
}

/* Section 2 */
.loveLetter {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Slideshow */
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    align-items: center;
}

/* Hides images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Footer */
footer a {
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #474747;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

footer p {
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    color: #474747;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

footer a{
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}

footer a:hover {
    color: #F2AF29;
}

footer li {
    display: inline-block;
    padding: 0 1rem;
}

